body {
  margin: 0;
}

canvas, #p2p-output {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  /* switch to "contain" if you want to see the entire output square, "cover" for fullscreen always */
  object-fit: cover;
  left: 0;
  top: 0;
  
}

img {
  z-index: 0;
}

canvas {
  z-index: 1;
}

#clearButton {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;

  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 2px solid red;
}

#text-overlay01 {
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px; /* 添加这一行，使宽度跨越父容器 */
  color: red; /* Set text color */
  font-size: 48px; /* Set font size */
  z-index: 2; /* Ensure text is on top of the canvas */
  text-align: center; /* 水平居中 */
  font-family: 'Press Start 2P', cursive; /* 应用像素化字体 */
  text-shadow: 2px 2px 20px white; /* 添加阴影 */
}



#text-overlay {
  position: absolute;
  top: 240px;
  left: 100px;
  right: 950px;
  color: red; /* Set text color */
  font-size: 17px; /* Set font size */
  z-index: 2; /* Ensure text is on top of the canvas */
  text-shadow: 2px 2px 20px white; /* 添加阴影 */
}

#text-overlay02 {
  position: absolute;
  top: 130px;
  left: 300px;
  right: 300px;
  color: red; /* Set text color */
  font-size: 18px; /* Set font size */
  z-index: 2; /* Ensure text is on top of the canvas */
  text-align: center;
  text-shadow: 2px 2px 20px white; /* 添加阴影 */
  
  
}

#text-overlay03 {
  position: absolute;
  top: 240px;
  left: 950px;
  right: 100px;
  color: red; /* Set text color */
  font-size: 17px; /* Set font size */
  z-index: 2; /* Ensure text is on top of the canvas */
  text-shadow: 2px 2px 20px white; /* 添加阴影 */
}